@import './mixins';
@import './variables';

body {
  color: $font-color;
  font-size: $font-size-lg;

  @include cellphone {
    font-size: $font-size-sm;
  }
}
h1 {
  margin: 0;
  font-size: 72px;
  font-weight: bold;
  line-height: 64px;
}
h2 {
  margin: 0;
}
p {
  margin: 0;
}
