$color-active: white;
$color-hover: white;
$font-color: white;
$color-title: #212836;
$color-subtitle: #343b48;
$color-text: #456a85;
$font-size-lg: 16px;
$font-size-md: 14px;
$font-size-sm: 14px;
$font-family: '';

@include cellphone {
  $font-size-lg: 14px;
  $font-size-md: 14px;
  $font-size-sm: 14px;
}
