@font-face {
  font-family: 'montserrat-bold';
  src: url('./assets/fonts/Montserrat/Montserrat-Black.ttf');
}
@font-face {
  font-family: 'montserrat-medium';
  src: local('./assets/fonts/Montserrat/Montserrat-Medium.ttf');
}
@font-face {
  font-family: 'montserrat-semibold';
  src: local('./assets/fonts/Montserrat/Montserrat-SemiBold.ttf');
}

body {
  margin: 0;
  font-family: montserrat-semibold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: montserrat-bold;
}

h2 {
  font-family: montserrat-medium;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
